body
{
    background: #427fab
}


/* Cabecera Alejandro*/

.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}

.header{
    background: #dc040c;
    color: white;
    padding: 0.5rem;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color: white;
    text-decoration: none;
    align-items: center;
}

.separation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 3.5rem;
    margin-left: 50px;
    transition: all 0.4s linear;
    border-radius: 15px;
    border: 3px dotted;
}

.navigation ul li a:hover{
    background: #f69819;
}

.login{
    display: block;
    padding: 0.5rem 3rem;
    margin-right: 24px;
    transition: all 0.2s linear;
    border-radius: 15px;
    border: 8px double #ffd400;
}

.login:hover{
    background: #f69819;
}

.logo{
    margin-left: 55px;
}

.logito{
    width: 100px;
}

/* Cabecera Alejandro*/


caption{
    margin-top: 120px;
}
strong{
    font-size: 150%;
}
.sinopsis{
    font-size: 150%;
}
select{
    padding: 5px 10px;
    margin:10px 25px 10px 25px;
    min-width: 225px;
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: 2px;
    font-size: 10pt;
    float: left;
    color: #000000;
    padding-left: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }
input{
    height:40px;
    width:150px;
  margin-left: 60px;
  border-radius: 8px;
  
}
.nn{
    margin-right: 30px;
    width: 50px;
}
h1{
    text-decoration:underline;
}
.ubicacion{
    margin-bottom: 100px;
    margin-left:400px ;
    margin-right:350px ;
    font-size: 150%;
}
.ubicacion div{
    font-size: 100%;
   font-weight: 800;
}
.container-1 input#search{
    padding: 5px 10px;
    margin:10px 25px 10px 25px;
    min-width: 225px;
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: 2px;
    font-size: 10pt;
    float: left;
    color: #000000;
    padding-left: 40px;
    border-radius: 8px;
    }
